@using Microsoft.AspNet.Identity

@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle notifications" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications <span class="badge" id="notification-badge"></span></a>
            <ul class="dropdown-menu notifications-dropdown">
                <li>@Html.ActionLink("Invitations", "Index", "Meeting", routeValues: null, htmlAttributes: new { id = "invitations-text" })</li>
            </ul>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        @if (User.IsInRole("Admin"))
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Add user", "Register", "User", routeValues: null, htmlAttributes: new { title = "Add User" })</li>
                    <li>@Html.ActionLink("Manage users", "Index", "User", routeValues: null, htmlAttributes: new { title = "Manage Users" })</li>
                </ul>
            </li>
        }
    </ul>
}
