@model InfoCom.ViewModels.PostViewModel
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Post</h2>
<div class="post-area">

    <div class="post-Text">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @*@Html.TextAreaFor(model => model.Content, new {@class= "textarea1" })*@
            @Html.TextAreaFor(model => model.Content, new { @class = "postText" })
            <div class="col-lg-11">
                <input type="submit" value="Upload" class="btn-info" />
            </div>
            
        }




    </div>
    


</div>


